<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1 class="headline large"><%= link_to "Trinity Tree Farm", "http://trinitytreefarm.com/", :target => "_blank" %></h1>

    <%= image_tag 'trinity_tree_farm.jpg' %>

    <p>The <%= link_to "Trinity Tree Farm", "http://trinitytreefarm.com/", :target => "_blank" %> is a Christmas tree farm and pumpkin patch.</p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span-one-third">
        <h5>Seattle-Tacoma International Airport (<%= link_to 'Map', 'http://goo.gl/NGaAy2', :target => "_blank"  %>)</h5>
        <p>Hopefully you can make it for the weekend of fun. If not, the venue is about 30min from the aiport.</p>

        <h5>Downtown Seattle (<%= link_to 'Map', 'http://goo.gl/mz9guV', :target => "_blank"  %>)</h5>
        <p>It's about a 31min drive from downtown Seattle to the venue.</p>

        <h5>Tacoma (<%= link_to 'Map', 'http://goo.gl/c2wc14', :target => "_blank"  %>)</h5>
        <p>The venue is a 40min drive from Tacoma.</p>

    </div>

    <div>
        <h1>Shuttle</h1>
        <h5>From Downtown Seattle (<%= link_to 'Map', 'http://goo.gl/wzctql', :target => "_blank"  %>)</h5>
        <p>Trinity Tree Farm is a 35min ride from 2125 Western Ave in Seattle. We will be providing transportation for those who would like to join us for the afterparty.</p>
        <br/>
        <p><i>Trinity Tree Farm</i></p>
        <p><i>14237 228th Ave SE</i></p>
        <p><i>Issaquah, WA 98027</i></p>

    </div>
</div>

<br />
<br />

<div class="row">
    <div class="center">

        <iframe width="500" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5393.690140743377!2d-122.0400420661431!3d47.4734484773855!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54906427e5f1f07b%3A0xaefe2ed3d553cf5c!2sTrinity+Tree+Farm!5e0!3m2!1sen!2sus!4v1404697709989"></iframe>

        <br/>

        <small><a class="right" href="https://www.google.com/maps/place/Trinity+Tree+Farm/@47.4734485,-122.0400421,16z/data=!4m2!3m1!1s0x54906427e5f1f07b:0xaefe2ed3d553cf5c">View Larger Map</a></small>

    </div>

</div>
