<div class="hero-unit">
    <h3 class="headline large">Registry</h3>
    <br/>
    <br/>

    <table class="wedding_party">


        <tr class="alternate">
            <td colspan=1 class="wedding_mug"><%= link_to image_tag('house.jpeg', :class => 'wedding_mug'), @bed_bath_beyond_url %></td>
            <td colspan=3>
                <h3>Please help us fulfill the ultimate American dream of homeownership.</br> Unfortunately a panini press or a blender won't do that.... So, shortly after looking through the traditional registries we realized that we don't really need more STUFF.  Your presence at our wedding, sharing some laughter and delicious food over good music, is what we want most.  If you do plan on giving a gift, however, the thing we would be most grateful for is a cash donation to help us out on our way toward a down payment on a home (and hey, then you won't even have to ask whenever you need a place to crash).<br> We have set up a bank account for our little nest egg and will graciously accept any amount checks written out to either of our names.  If you use <%= link_to 'PayPal', 'http://www.paypal.com/', :target => "_blank" %> (nicole.glasgow@ymail.com) or <%= link_to 'Venmo', 'http://www.venmo.com/', :target => "_blank" %> (gabe.ginobili@gmail.com), we'd be happy to accept your gift through those as well.</br> But for those old-fashioned present lovers out there, we did identify a few items in the registries that we would love to have.</br>THANK YOUUUUUU!!!!</br> You can find our registries below:</h3>
            </td>
        </tr>

        <tr class="primary">
            <td colspan=1 class="wedding_mug"><%= link_to image_tag('macys.jpeg', :class => 'wedding_mug'), @macys_url %></td>
            <td colspan=3>
                <h3>Website: <%= link_to "Macy's", @macys_url, :target => "_blank" %></h3>
                <h3>Store Locator: <%= link_to 'macys.com', 'http://www.macys.com/store/locator/index.ognc', :target => "_blank" %></h3>
            </td>
        </tr>

        <tr class="alternate">
            <td colspan=1 class="wedding_mug"><%= link_to image_tag('bb&b.jpeg', :class => 'wedding_mug'), @bed_bath_beyond_url %></td>
            <td colspan=3>
                <h3>Website: <%= link_to 'Bed Bath & Beyond', @bed_bath_beyond_url, :target => "_blank" %></h3>
                <h3>Store Locator: <%= link_to 'bedbathandbeyond.com', 'http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=541140643&pwsurl=', :target => "_blank" %></h3>
            </td>
        </tr>

    </table>
</div>
